<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>My name is Levi.</p>

    <ul>
        <li>Coding</li>
        <li>Gaming</li>
        <li>Learning tech</li>
    </ul>

    <img src="/images/me.jpg" width="200">
</main>

<%- include('partials/footer') %>